h1,
p,
div {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: royalblue;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  z-index: 10;
  min-width: 700px;
  max-width: 1000px;
  border-bottom: 1px solid black;
}
#title {
  display: inline-block;
  padding: 0 20px;
  width: 60%;
}

.menu_header ul {
  list-style: none;
  display: inline;
  padding: 5px 0;
}
.menu_header ul li {
  display: inline;
  padding: 0 5px;
}

#nav {
  background-color: white;
  position: fixed;
  top: 83.4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  min-width: 700px;
  max-width: 1000px;
  border-bottom: 1px solid black;
}
.menu_nav ul {
  list-style: none;
  text-align: center;
  padding: 3px 0;
}
.menu_nav ul li {
  display: inline;
  padding: 0 10px;
  letter-spacing: 3px;
}

#section {
  position: relative;
  left: 0;
  right: 0;
  top: 150px;
  margin: 0 auto;
  z-index: 8;
  min-width: 700px;
  max-width: 1000px;
}
.list_daily {
  min-width: 700px;
  margin: 0 auto;
}
.list_daily_title {
  text-align: center;
}
#list_daily_all {
  width: 700px;
  margin: 0 auto;
}
.list_daily_col {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  display: table-cell;
  padding: 0;
  border: 1px solid black;
}

.list_daily_col_inner ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.list_daily_col_inner ul li {
  display: inline;
}
.image {
  float: left;
  display: table-cell;
  padding: 20px;
}
.wb1 {
  display: table-cell;
  background-color: white;

  min-width: 500px;
  max-width: 1000px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.wblock {
  display: block;
}
.wrheader {
  text-align: center;
}
.whole {
  width: 500px;
  margin: auto;
}
.wbtitle {
  padding-top: 10px;
}
#footer {
  position: relative;
  left: 0;
  right: 0;
  top: 250px;
  margin: 0 auto;
  z-index: 8;
  text-align: center;
  min-width: 700px;
  max-width: 1000px;
  border-top: 1px solid black;
}
